{% extends 'base.html' %}

{% block title %}Edit{% endblock %}

{% block body %}

{% if user.errors is not empty %}
<div class="d-flex justify-content-center text-danger">Errors:</div>
<ul>
    {% for error in user.errors %}
        <div class="d-flex justify-content-center text-danger">{{ error }}</div>
    {% endfor %}
</ul>
{% endif %}

    <article>
        <div>
            <blockquote class="blockquote d-block w-100">
                <h2 class="text-center p-5">Edytuj dane, dodaj lub usuń:</h2>
            </blockquote>
            <div class="row m-0 p-0">
                <nav class="col-12 col-sm-6 col-md-3 border-right">
                    <div class="nav flex-column">
                        <a class="btn btn-secondary bt-sm m-3" href="/profile/menu" role="button"><svg
                                xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                <path fill-rule="evenodd"
                                    d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                            </svg> Strona Główna</a>
                        <button type="button" class="btn btn-secondary bt-sm m-3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
                        <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z"/>
                      </svg> Wyposażenie</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/gba/gba">GBA 2,5/24/4</a></li>
                            <li><a class="dropdown-item" href="/gcba/gcba">GCBA 5/32</a></li>
                            <li><a class="dropdown-item" href="/Shd/shd">SHD 23</a></li>
                            <li><a class="dropdown-item" href="/Srw/srw">SRW Iveco</a></li>
                            <li><a class="dropdown-item" href="/Slrr/slrr">SLRr Hilux</a></li>
                        </ul>
                        <a class="btn btn-secondary bt-sm m-3" href="/graphic/new" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-calendar4-week" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
                            <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                          </svg> Grafik</a>
                        <a class="btn btn-secondary bt-sm m-3" href="/education/new" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                          </svg> Baza Wiedzy</a>
                        <a class="btn btn-secondary bt-sm m-3 active" href="/profile/edit" role="button"><svg
                                xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                class="bi bi-wrench" viewBox="0 0 16 16">
                                <path
                                    d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z" />
                            </svg> Ustawienia</a>
                        <a class="btn btn-secondary bt-sm m-3" href="/logout" role="button"><svg
                                xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                class="bi bi-door-open" viewBox="0 0 16 16">
                                <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
                                <path
                                    d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z" />
                            </svg>Wyloguj się</a>
                    </div>
                    <div>
                        <p id="logIn" class="text-success mt-5 p-3">Zalogowany: {{ user.rank }} {{ user.username }} {{user.surname}}</p>
                    </div>
                </nav>
                <div class="col-12 col-sm-6 col-md-9 p-3 text-center">
                    <div class="d-flex align-items-center flex-column w-100 m-auto">
                        <button class="btn btn-danger collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" width="22" height="22"> Zmień dane dotyczące konta </button>
                        <div class="col w-100 m-auto">
                            <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample1">
                                <form method="post" action="/profile/update">
                                    <div class="d-flex align-items-center flex-column">
                                        <div class="input-group col-md-4 col-7 m-1">
                                            <select class="form-control" name="rank">
                                                <option value="" disabled selected hidden>Stopień</option>
                                                <option value="str.">strażak</option>
                                                <option value="st. str.">starszy strażak</option>
                                                <option value="sekc.">sekcyjny</option>
                                                <option value="st. sekc.">starszy sekcyjny</option>
                                                <option value="mł. ogn.">młodszy ogniomistrz</option>
                                                <option value="ogn.">ogniomistrz</option>
                                                <option value="st. ogn.">starszy ogniomistrz</option>
                                                <option value="mł. asp.">młodszy aspirant</option>
                                                <option value="asp.">aspirant</option>
                                                <option value="st. asp.">starszy aspirant</option>
                                                <option value="asp.">aspirant</option>
                                                <option value="asp. sztab.">aspirant sztabowy</option>
                                                <option value="mł. kpt.">młodszy kapitan</option>
                                                <option value="kpt.">kapitan</option>
                                                <option value="st. kpt.">starszy kapitan</option>
                                                <option value="mł. bryg.">młodszy brygadier</option>
                                                <option value="bryg.">brygadier</option>
                                                <option value="st. bryg.">starszy brygadier</option>
                                                <option value="nadbryg.">nadbrygadier</option>
                                                <option value="gen. bryg.">generał brygadier</option>
                                            </select>
                                        </div>
                                        <div class="input-group col-md-4 col-7 m-1">
                                            <select class="form-control" name="position">
                                                <option value="" disabled selected hidden>Stanowisko</option>
                                                <option value="stażysta">stażysta</option>
                                                <option value="młodszy ratownik-kierowca">młodszy ratownik-kierowca</option>
                                                <option value="młodszy ratownik">młodszy ratownik</option>
                                                <option value="ratownik-kierowca">ratownik-kierowca</option>
                                                <option value="ratownik">ratownik</option>
                                                <option value="starszy ratownik-kierowca">starszy ratownik-kierowca</option>
                                                <option value="starszy ratownik">starszy ratownik</option>
                                                <option value="absolwent-aspirant">absolwent-aspirant</option>
                                                <option value="młodszy ratownik-specjalista">młodszy ratownik-specjalista</option>
                                                <option value="młodszy operator sprzętu">młodszy operator sprzętu</option>
                                                <option value="operator sprzętu">operator sprzętu</option>
                                                <option value="starszy operator sprzętu">starszy operator sprzętu</option>
                                                <option value="ratownik-specjalista">ratownik-specjalista</option>
                                                <option value="dowódca zastępu">dowódca zastępu</option>
                                                <option value="absolwent-oficer">absolwent-oficer</option>
                                                <option value="dowódca sekcji">dowódca-sekcji</option>
                                                <option value="zastępca dowódcy zmiany">zastępca dowódcy zmiany</option>
                                                <option value="starszy ratownik specjalista">starszy ratownik specjalista</option>
                                                <option value="dowódca zmiany">dowódca zmiany</option>
                                                <option value="zastępca dowódcy jrg psp">zastępca dowódcy JRG</option>
                                                <option value="dowódca jrg psp">dowódca JRG</option>
                                            </select>
                                        </div>
                                        <div class="input-group col-md-4 col-7 m-1">
                                            <select class="form-control" name="division">
                                                <option value="" disabled selected hidden>Zmiana</option>
                                                <option value="zmiana I">zmiana I</option>
                                                <option value="zmiana II">zmiana II</option>
                                                <option value="zmiana III">zmiana III</option>
                                                <option value="dowództwo JRG">dowództwo JRG</option>
                                            </select>
                                        </div>
                                        <div class="input-group col-md-4 col-7 m-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                        height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                                        <path
                                                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                                    </svg></span>
                                            </div>
                                            <input type="email" class="form-control" placeholder="e-mail" name="email" value="{{ user.email }}">
                                        </div>
                                        <div class="input-group col-md-4 col-7 m-1">
                                            <div class=" input-group-prepend">
                                                <span id="showPassword" class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg"
                                                        width="16" height="16" fill="currentColor" class="bi bi-key"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                                                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                                    </svg></span>
                                            </div>
                                            <input id="password" type="password" class="form-control" placeholder="hasło" name="password" required>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="d-flex justify-content-center col-8 border-bottom">
                                            <a class="btn btn-secondary col-md-2 m-2 p-1" href="/profile/edit" role="button">Cofnij</a>
                                            <button type="submit" class="btn btn-success col-md-4 m-2 p-1" name="saveChanges">Zapisz</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <button class="btn btn-danger collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2" width="22" height="22"> Dodaj sprzęt </button>
                        <div class="col w-100 m-auto">
                            <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample2">
                                <form method="post" action="/edit/edit">
                                    <div class="d-flex align-items-center flex-column">
                                        <div class="input-group col-md-4 col-7 m-1">
                                            <select class="form-control" name="engine" required>
                                                <option value="" disabled selected hidden>Samochód</option>
                                                <option value="gba">GBA 2,5/24/4</option>
                                                <option value="gcba">GCBA 5/32</option>
                                                <option value="shd">SHD 23</option>
                                                <option value="srw">SRW Iveco</option>
                                                <option value="slrr">SLRr Hilux</option>
                                            </select>
                                        </div>
                                        <div class="input-group col-md-4 col-7 m-1">
                                            <select class="form-control" name="space" required>
                                                <option value="" disabled selected hidden>Miejsce</option>
                                                <option value="Bagażnik">Bagażnik</option>
                                                <option value="Dach">Dach</option>
                                                <option value="Kabina">Kabina</option>
                                                <option value="Skrytka lewa I">Skrytka lewa I</option>
                                                <option value="Skrytka lewa II">Skrytka lewa II</option>
                                                <option value="Skrytka lewa III">Skrytka lewa III</option>
                                                <option value="Skrytka lewa IV">Skrytka lewa IV</option>
                                                <option value="Skrytka prawa I">Skrytka prawa I</option>
                                                <option value="Skrytka prawa II">Skrytka prawa II</option>
                                                <option value="Skrytka prawa III">Skrytka prawa III</option>
                                                <option value="Skrytka prawa IV">Skrytka prawa IV</option>
                                            </select>
                                        </div>
                                        <div class="input-group col-md-4 col-7 m-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-angle" viewBox="0 0 16 16">
                                                    <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146zm.122 2.112v-.002.002zm0-.002v.002a.5.5 0 0 1-.122.51L6.293 6.878a.5.5 0 0 1-.511.12H5.78l-.014-.004a4.507 4.507 0 0 0-.288-.076 4.922 4.922 0 0 0-.765-.116c-.422-.028-.836.008-1.175.15l5.51 5.509c.141-.34.177-.753.149-1.175a4.924 4.924 0 0 0-.192-1.054l-.004-.013v-.001a.5.5 0 0 1 .12-.512l3.536-3.535a.5.5 0 0 1 .532-.115l.096.022c.087.017.208.034.344.034.114 0 .23-.011.343-.04L9.927 2.028c-.029.113-.04.23-.04.343a1.779 1.779 0 0 0 .062.46z"/>
                                                  </svg></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Wpisz nazwę rzeczy" name="name" required>
                                        </div>
                                        <div class="input-group col-md-4 col-7 m-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg"
                                                        width="16" height="16" fill="currentColor" class="bi bi-pencil-square"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                        <path fill-rule="evenodd"
                                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                    </svg></span>
                                            </div>
                                            <input type="number" min="1" step="1" class="form-control"
                                                placeholder="Ilość" name="quantity" required>
                                        </div>
                                        <input type="hidden" name="user" value="{{ user.rank }} {{user.surname}}">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="d-flex justify-content-center col-8 border-bottom">
                                            <a class="btn btn-secondary col-md-2 m-2 p-1" href="/profile/edit" role="button">Cofnij</a>
                                            <button type="submit" class="btn btn-success col-md-4 m-2 p-1" name="saveChanges">Zapisz</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    
    </article>
    <script src="/js/appShow.js"></script>
    <script src="/js/appDate.js"></script>
{% endblock %}
