{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block body %}
<div class="mx-5">
<figure class="text-center">
    <blockquote class="blockquote"><h3>Polityka prywatności</h3></blockquote>
    <blockquote class="blockquote"><h3>Aplikacji internetowej <small class="text-muted">www.florian-straz.pl</small></h3></blockquote>
        <blockquote class="blockquote"><strong>§ 1 Postanowienia ogólne</strong></blockquote>
</figure>
<figure class="text-start">
    <blockquote class="blockquote">
        <p>1.	Niniejsza Polityka Prywatności (zwana dalej „Polityką Prywatności”) określa sposób zbierania, przetwarzania i przechowywania danych osobowych koniecznych do realizacji usług świadczonych za pośrednictwem aplikacji internetowej (zwanej dalej „Aplikacją”).</p>
        <p>2.	Aplikacja internetowa www.florian-straz.pl stanowi przedmiot pracy magisterskiej w Szkole Głównej Służby Pożarniczej, o temacie „Wspomaganie zarządzania i komunikacji w Jednostkach Ratowniczo-Gaśniczych PSP, z wykorzystaniem aplikacji internetowej”,  której dyplomantem jest kpt. Krystian Surowiec.</p>
        <p>3.	Użytkownik przyjmuje do wiadomości, że Administratorem danych osobowych jest kpt. inż. Krystian Surowiec, zastępca dowódcy zmiany, JRG 3 w Ustce, KM PSP w Słupsku. </p>
        <p>4.	Użytkownikiem jest funkcjonariusz KM PSP w Słupsku korzystający z usług świadczonych za pośrednictwem Aplikacji.</p> 
        <p>5.	Użytkownik przyjmuje do wiadomości, że udostępnianie przez niego danych osobowych jest dobrowolne. Udostępnianie Administratorowi danych osobowych przez Użytkownika nastąpi po zaakceptowaniu Polityki Prywatności podczas rejestracji w Aplikacji.</p>  
        <p>6.	Niniejszym Użytkownik akceptuje zasady zawarte w Polityce Prywatności i w Regulaminie.</p>
    </blockquote>
</figure>
<figure class="text-center"><blockquote class="blockquote"><strong>§ 2 Zbieranie danych osobowych</strong></blockquote></figure>
<figure class="text-start">
    <blockquote class="blockquote">
        <p>1.	W trakcie rejestracji w Aplikacji i korzystania z Aplikacji, Administrator domaga się podania przez Użytkownika danych osobowych, w celu realizacji usług świadczonych przez Administratora za pośrednictwem Aplikacji.</p>
        <p>2.	Zbierane dane osobowe Użytkownika obejmują: imię, nazwisko,  adres e-mail,  hasło, indywidualne ID Użytkownika), stopień służbowy, stanowisko, zmianę służbową.</p>
    </blockquote>
</figure>
<figure class="text-center"><blockquote class="blockquote"><strong>§ 3 Przetwarzanie danych osobowych</strong></blockquote></figure>
<figure class="text-start">
    <blockquote class="blockquote">
        <p>1.	Zebrane dane osobowe Użytkownika będą wykorzystywane przez Administratora celem identyfikacji użytkownika korzystającego z aplikacji.</p>
        <p>2.	Dane osobowe użytkownika posłużą do informowania pozostałych użytkowników o tym kto dokonał zmian wprowadzonych w funkcjonalności  Aplikacji, dotyczącej sprawdzenia wyposażenia samochodów pożarniczych.</p>
        <p>3.	Zebrane dane osobowe służą również do zapewnienia bezpieczeństwa Aplikacji i zapobieganie oszustwom.</p>
        <p>4.	Podany adres e-mail służy weryfikacji Użytkownika oraz do wysyłania powiadomień e-mail dot. resetowania hasła, jeżeli Użytkownik zapomniał hasła i korzysta z funkcjonalności odzyskiwania hasła.</p>
        <p>5.	Dane osobowe oraz data będą zapisywane w przypadku wprowadzenia przez użytkownika dodatkowego wyposażenia samochodów pożarniczych.</p>
    </blockquote>
</figure>
<figure class="text-center"><blockquote class="blockquote"><strong>§ 4 Ujawnianie danych osobowych</strong></blockquote></figure>
<figure class="text-start">
    <blockquote class="blockquote">
    <p>1.	Następujące dane osobowe Użytkownika: imię, nazwisko, stopień, zmiana służbowa, będą jawne dla wszystkich użytkowników aplikacji w obrębie KM PSP Słupsk oraz dla osób związanych z pisaniem.</p>
    </blockquote>
</figure>
<figure class="text-center"><blockquote class="blockquote"><strong>§ 5 Bezpieczeństwo danych osobowych</strong></blockquote></figure>
<figure class="text-start">
    <blockquote class="blockquote">
   <p>1.	Dane osobowe będą przechowywane na bezpiecznym serwerze chronionym hasłem.</p>
    <p>2.	Hasła do kont Użytkownika są przechowywane w formie niejawnej.</p>
    <p>3.	Jako Użytkownik jesteś odpowiedzialny za zachowanie poufności hasła służącego do logowania do Aplikacji.</p>
    </blockquote>
</figure>
<figure class="text-center"><blockquote class="blockquote"><strong>§ 6 Prawa i obowiązki Użytkownika</strong></blockquote></figure>
<figure class="text-start">
    <blockquote class="blockquote">
    <p>1.	Użytkownik jest zobowiązany podawać prawidłowe dane osobowe: stopień, stanowisko, imię, nazwisko, zmiana służbowa, dane dotyczące dodania nowego wyposażenia do bazy danych oraz dane dotyczące wyników weryfikacji wyposażenia samochodów pożarniczych w JRG.</p>
    <p>2.	Użytkownik ma prawo dostępu do swoich danych osobowych za pośrednictwem Aplikacji. </p>
    <p>3.	Użytkownik może w każdej chwili dokonać modyfikacji, zmiany udostępnionych dan
    ych osobowych, za pośrednictwem narządzi dostępnych w Aplikacji. </p>
    <p>4.	W przypadku trwałego usunięcia przez Użytkownika danych osobowych, koniecznych do realizacji przez Administratora usług świadczonych za pośrednictwem Aplikacji, Użytkownik utraci możliwość korzystania z tych usług. </p>
    <p>5.	Administrator zastrzega sobie prawo wprowadzenia zmian w Polityce Prywatności, o czym poinformuje Użytkownika za pośrednictwem Aplikacji. Jeżeli Użytkownik nie wyrazi zgody na wprowadzone zmiany, zobowiązany jest trwale usunąć Aplikację ze swojego urządzenia mobilnego.</p>
   <p> 6.	Użytkownik jest odpowiedzialny za zachowanie poufności danych potrzebnych do zalogowania się do Aplikacji oraz danych zawartych w Aplikacji, dotyczących innych użytkowników Aplikacji oraz Jednostki Ratowniczo Gaśniczej.</p>
    </blockquote>
</figure>
<figure class="text-center"><blockquote class="blockquote"><strong>§ 7 Prawa i obowiązki Administratora </strong></blockquote></figure>
<figure class="text-start">
    <blockquote class="blockquote">
    <p>1.	Administrator zapewnia odpowiednie środki techniczne i organizacyjne zapewniające bezpieczeństwo przetwarzanych danych osobowych, w szczególności uniemożliwiających dostęp do nich nieuprawnionym osobom trzecim, lub ich przetwarzania z naruszeniem przepisów powszechnie obowiązującego prawa, zapobiegających utracie danych osobowych, ich uszkodzeniu lub zniszczeniu. </p>
    <p>2.	Dane osobowe Użytkownika będą przechowywane tak długo, jak będzie to konieczne do realizacji przez Administratora usług świadczonych za pośrednictwem Aplikacji. </p>
    <p>3.	Administrator ma prawo udostępniania danych osobowych Użytkownika, wyposażenia sprzęty JRG innym Użytkownikom Aplikacji, innym funkcjonariuszom PSP oraz innym osobom na potrzeby związane z pisaniem oraz obroną pracy dyplomowej.</p>
    </blockquote>
</figure>
</div>
<div class="d-flex justify-content-center col-12">
    <a class="btn btn-secondary col-md-2 m-2 p-1" href="/signup/new" role="button">Cofnij</a>
</div>
{% endblock %}
