{% extends "base.html" %}

{% block title %}Equipment{% endblock %}

{% block body %}

{% if income.errors is not empty %}
<div class="d-flex justify-content-center text-danger">Errors:</div>
<ul>
    {% for error in income.errors %}
        <div class="d-flex justify-content-center text-danger">{{ error }}</div>
    {% endfor %}
</ul>
{% endif %}

<article>
    <div class="w-100 m-0 p-0">
        <blockquote class="blockquote d-block w-100">
            <h2 class="text-center p-5">Zestawienie wyposażenia i edycja:</h2>
        </blockquote>
        <div class="row m-0 p-0">
            <nav class="col-12 col-sm-6 col-md-3 border-right">
                <div class="nav flex-column">
                    <a class="btn btn-secondary bt-sm m-3" href="/profile/menu" role="button"><svg
                            xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                            class="bi bi-house-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                            <path fill-rule="evenodd"
                                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                        </svg> Strona Główna</a>
                    <button type="button" class="btn btn-secondary bt-sm m-3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
                        <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z"/>
                      </svg> Wyposażenie</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/gba/gba">GBA 2,5/24/4</a></li>
                            <li><a class="dropdown-item" href="/gcba/gcba">GCBA 5/32</a></li>
                            <li><a class="dropdown-item" href="/Shd/shd">SHD 23</a></li>
                            <li><a class="dropdown-item" href="/Srw/srw">SRW Iveco</a></li>
                            <li><a class="dropdown-item" href="/Slrr/slrr">SLRr Hilux</a></li>
                        </ul>
                    <a class="btn btn-secondary bt-sm m-3" href="/graphic/new" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-calendar4-week" viewBox="0 0 16 16">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
                        <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                      </svg> Grafik</a>
                    <a class="btn btn-secondary bt-sm m-3" href="/education/new" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                      </svg> Baza Wiedzy</a>
                    <a class="btn btn-secondary bt-sm m-3" href="/profile/edit" role="button"><svg
                            xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                            class="bi bi-wrench" viewBox="0 0 16 16">
                            <path
                                d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z" />
                        </svg> Ustawienia</a>
                    <a class="btn btn-secondary bt-sm m-3" href="/logout" role="button"><svg
                            xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                            class="bi bi-door-open" viewBox="0 0 16 16">
                            <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
                            <path
                                d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z" />
                        </svg>Wyloguj się</a>
                </div>
                <div>
                    <p id="logIn" class="text-success mt-5 p-3">Zalogowany: {{ user.rank }} {{ user.username }} {{user.surname}}</p>
                </div>
            </nav>
            <div class="col-12 col-sm-6 col-md-9 text-center">
                
                <div class="d-flex align-items-center flex-column w-100 m-auto">
                    {% if categoriesCabinGba %} 
                    <button class="btn btn-warning collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" width="22" height="22"> Kabina </button>
                    <div class="col w-100 m-auto">
                        <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample1">
                            <form method="post" action="/gba/cabingba">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4"><h5>{{ nameGBA }}</h5></th>
                                        </tr>    
                                        <tr>
                                            <td colspan="4"><p>Ostatnio przejmował: {{ personI.user }} {{ personI.date }}</p></td>
                                        </tr> 
                                        <tr>
                                            <td colspan="4"><p>{{ personI.comment }}</p></td>
                                        </tr> 
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nazwa:</th>
                                            <th scope="col">Ilość:</th>
                                            <th scope="col">Miejsce:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categoriesCabinGba %}  
                                        <tr class="table-{{ category.status }}">
                                            <th scope="row"><input class="form-check-input m-0" type="checkbox" name="checkbox[]" value="{{ category.id }}"  id="{{ category.id }}"></th>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.name }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.quantity }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.space }}</label></td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                                <div>    
                                    <input type="hidden" name="idMod" value="{{ personI.id }}">                      
                                    <textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="3" placeholder="Dodaj komentarz (nie wymagany)" name="comment"></textarea>
                                    <button class="btn btn-primary" name="usermod" value="{{ user.rank }} {{ user.surname }}" type="submit">Przyjęte</button>
                                </div>           
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    {% if categoriesLeftGba %} 
                    <button class="btn btn-warning collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2" width="22" height="22"> Skrytki Lewe </button>
                    <div class="col w-100 m-auto">
                        <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample2">
                            <form method="post" action="/gba/leftgba">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4"><h5>{{ nameGBA }}</h5></th>
                                        </tr>    
                                        <tr>
                                            <td colspan="4"><p>Ostatnio przejmował: {{ personII.user }} {{ personII.date }}</p></td>
                                        </tr> 
                                        <tr>
                                            <td colspan="4"><p>{{ personII.comment }}</p></td>
                                        </tr>    
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nazwa:</th>
                                            <th scope="col">Ilość:</th>
                                            <th scope="col">Miejsce:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categoriesLeftGba %}  
                                        <tr class="table-{{ category.status }}">
                                            <th scope="row"><input class="form-check-input m-0" type="checkbox" name="checkbox[]" value="{{ category.id }}"  id="{{ category.id }}"></th>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.name }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.quantity }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.space }}</label></td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                                <div>    
                                    <input type="hidden" name="idMod" value="{{ personII.id }}">                      
                                    <textarea class="form-control mb-3" id="exampleFormControlTextarea2" rows="3" placeholder="Dodaj komentarz (nie wymagany)" name="comment"></textarea>
                                    <button class="btn btn-primary" name="usermod" value="{{ user.rank }} {{ user.surname }}" type="submit">Przyjęte</button>
                                </div>                    
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    {% if categoriesRightGba %} 
                    <button class="btn btn-warning collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3" width="22" height="22"> Skrytki Prawe </button>
                    <div class="col w-100 m-auto">
                        <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample3">
                            <form method="post" action="/gba/rightgba">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4"><h5>{{ nameGBA }}</h5></th>
                                        </tr>    
                                        <tr>
                                            <td colspan="4"><p>Ostatnio przejmował: {{ personIII.user }} {{ personIII.date }}</p></td>
                                        </tr> 
                                        <tr>
                                            <td colspan="4"><p>{{ personIII.comment }}</p></td>
                                        </tr>    
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nazwa:</th>
                                            <th scope="col">Ilość:</th>
                                            <th scope="col">Miejsce:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categoriesRightGba %}  
                                        <tr class="table-{{ category.status }}">
                                            <th scope="row"><input class="form-check-input m-0" type="checkbox" name="checkbox[]" value="{{ category.id }}"  id="{{ category.id }}"></th>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.name }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.quantity }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.space }}</label></td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                                <div>    
                                    <input type="hidden" name="idMod" value="{{ personIII.id }}">                      
                                    <textarea class="form-control mb-3" id="exampleFormControlTextarea3" rows="3" placeholder="Dodaj komentarz (nie wymagany)" name="comment"></textarea>
                                    <button class="btn btn-primary" name="usermod" value="{{ user.rank }} {{ user.surname }}" type="submit">Przyjęte</button>
                                </div>           
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    {% if categoriesRoofGba %} 
                    <button class="btn btn-warning collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample4" role="button" aria-expanded="false" aria-controls="multiCollapseExample4" width="22" height="22"> Dach + Bagażnik </button>
                    <div class="col w-100 m-auto">
                        <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample4">
                            <form method="post" action="/gba/roofgba">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4"><h5>{{ nameGBA }}</h5></th>
                                        </tr>    
                                        <tr>
                                            <td colspan="4"><p>Ostatnio przejmował: {{ personIV.user }} {{ personIV.date }}</p></td>
                                        </tr> 
                                        <tr>
                                            <td colspan="4"><p>{{ personIV.comment }}</p></td>
                                        </tr>    
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nazwa:</th>
                                            <th scope="col">Ilość:</th>
                                            <th scope="col">Miejsce:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categoriesRoofGba %}  
                                        <tr class="table-{{ category.status }}">
                                            <th scope="row"><input class="form-check-input m-0" type="checkbox" name="checkbox[]" value="{{ category.id }}"  id="{{ category.id }}"></th>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.name }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.quantity }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.space }}</label></td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                                <div>    
                                    <input type="hidden" name="idMod" value="{{ personIV.id }}">                      
                                    <textarea class="form-control mb-3" id="exampleFormControlTextarea3" rows="3" placeholder="Dodaj komentarz (nie wymagany)" name="comment"></textarea>
                                    <button class="btn btn-primary" name="usermod" value="{{ user.rank }} {{ user.surname }}" type="submit">Przyjęte</button>
                                </div>           
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    {% if categoriesCabinGcba %} 
                    <button class="btn btn-warning collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample5" role="button" aria-expanded="false" aria-controls="multiCollapseExample5" width="22" height="22"> Kabina </button>
                    <div class="col w-100 m-auto">
                        <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample5">
                            <form method="post" action="/gcba/cabingcba">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4"><h5>{{ nameGCBA }}</h5></th>
                                        </tr>    
                                        <tr>
                                            <td colspan="4"><p>Ostatnio przejmował: {{ personV.user }} {{ personV.date }}</p></td>
                                        </tr> 
                                        <tr>
                                            <td colspan="4"><p>{{ personV.comment }}</p></td>
                                        </tr> 
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nazwa:</th>
                                            <th scope="col">Ilość:</th>
                                            <th scope="col">Miejsce:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categoriesCabinGcba %}  
                                        <tr class="table-{{ category.status }}">
                                            <th scope="row"><input class="form-check-input m-0" type="checkbox" name="checkbox[]" value="{{ category.id }}"  id="{{ category.id }}"></th>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.name }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.quantity }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.space }}</label></td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                                <div>    
                                    <input type="hidden" name="idMod" value="{{ personV.id }}">                      
                                    <textarea class="form-control mb-3" id="exampleFormControlTextarea4" rows="3" placeholder="Dodaj komentarz (nie wymagany)" name="comment"></textarea>
                                    <button class="btn btn-primary" name="usermod" value="{{ user.rank }} {{ user.surname }}" type="submit">Przyjęte</button>
                                </div>           
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    {% if categoriesLeftGcba %} 
                    <button class="btn btn-warning collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample6" role="button" aria-expanded="false" aria-controls="multiCollapseExample6" width="22" height="22"> Skrytki Lewe </button>
                    <div class="col w-100 m-auto">
                        <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample6">
                            <form method="post" action="/gcba/leftgcba">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4"><h5>{{ nameGCBA }}</h5></th>
                                        </tr>    
                                        <tr>
                                            <td colspan="4"><p>Ostatnio przejmował: {{ personVI.user }} {{ personVI.date }}</p></td>
                                        </tr> 
                                        <tr>
                                            <td colspan="4"><p>{{ personVI.comment }}</p></td>
                                        </tr> 
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nazwa:</th>
                                            <th scope="col">Ilość:</th>
                                            <th scope="col">Miejsce:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categoriesLeftGcba %}  
                                        <tr class="table-{{ category.status }}">
                                            <th scope="row"><input class="form-check-input m-0" type="checkbox" name="checkbox[]" value="{{ category.id }}"  id="{{ category.id }}"></th>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.name }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.quantity }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.space }}</label></td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                                <div>    
                                    <input type="hidden" name="idMod" value="{{ personVI.id }}">                      
                                    <textarea class="form-control mb-3" id="exampleFormControlTextarea4" rows="3" placeholder="Dodaj komentarz (nie wymagany)" name="comment"></textarea>
                                    <button class="btn btn-primary" name="usermod" value="{{ user.rank }} {{ user.surname }}" type="submit">Przyjęte</button>
                                </div>           
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    {% if categoriesRightGcba %} 
                    <button class="btn btn-warning collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample7" role="button" aria-expanded="false" aria-controls="multiCollapseExample7" width="22" height="22"> Skrytki Prawe </button>
                    <div class="col w-100 m-auto">
                        <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample7">
                            <form method="post" action="/gcba/rightgcba">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4"><h5>{{ nameGCBA }}</h5></th>
                                        </tr>    
                                        <tr>
                                            <td colspan="4"><p>Ostatnio przejmował: {{ personVII.user }} {{ personVII.date }}</p></td>
                                        </tr> 
                                        <tr>
                                            <td colspan="4"><p>{{ personVII.comment }}</p></td>
                                        </tr> 
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nazwa:</th>
                                            <th scope="col">Ilość:</th>
                                            <th scope="col">Miejsce:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categoriesRightGcba %}  
                                        <tr class="table-{{ category.status }}">
                                            <th scope="row"><input class="form-check-input m-0" type="checkbox" name="checkbox[]" value="{{ category.id }}"  id="{{ category.id }}"></th>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.name }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.quantity }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.space }}</label></td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                                <div>    
                                    <input type="hidden" name="idMod" value="{{ personVII.id }}">                      
                                    <textarea class="form-control mb-3" id="exampleFormControlTextarea4" rows="3" placeholder="Dodaj komentarz (nie wymagany)" name="comment"></textarea>
                                    <button class="btn btn-primary" name="usermod" value="{{ user.rank }} {{ user.surname }}" type="submit">Przyjęte</button>
                                </div>           
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    {% if categoriesRoofGcba %} 
                    <button class="btn btn-warning collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample8" role="button" aria-expanded="false" aria-controls="multiCollapseExample8" width="22" height="22"> Dach + Bagażnik </button>
                    <div class="col w-100 m-auto">
                        <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample8">
                            <form method="post" action="/gcba/roofgcba">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4"><h5>{{ nameGCBA }}</h5></th>
                                        </tr>    
                                        <tr>
                                            <td colspan="4"><p>Ostatnio przejmował: {{ personVIII.user }} {{ personVIII.date }}</p></td>
                                        </tr> 
                                        <tr>
                                            <td colspan="4"><p>{{ personVIII.comment }}</p></td>
                                        </tr> 
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nazwa:</th>
                                            <th scope="col">Ilość:</th>
                                            <th scope="col">Miejsce:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categoriesRoofGcba %}  
                                        <tr class="table-{{ category.status }}">
                                            <th scope="row"><input class="form-check-input m-0" type="checkbox" name="checkbox[]" value="{{ category.id }}"  id="{{ category.id }}"></th>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.name }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.quantity }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.space }}</label></td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                                <div>    
                                    <input type="hidden" name="idMod" value="{{ personVIII.id }}">                      
                                    <textarea class="form-control mb-3" id="exampleFormControlTextarea4" rows="3" placeholder="Dodaj komentarz (nie wymagany)" name="comment"></textarea>
                                    <button class="btn btn-primary" name="usermod" value="{{ user.rank }} {{ user.surname }}" type="submit">Przyjęte</button>
                                </div>           
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    {% if categoriesCabinShd %} 
                    <button class="btn btn-warning collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample9" role="button" aria-expanded="false" aria-controls="multiCollapseExample9" width="22" height="22"> Kabina + Dach </button>
                    <div class="col w-100 m-auto">
                        <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample9">
                            <form method="post" action="/shd/cabinshd">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4"><h5>{{ nameSHD }}</h5></th>
                                        </tr>    
                                        <tr>
                                            <td colspan="4"><p>Ostatnio przejmował: {{ personIX.user }} {{ personIX.date }}</p></td>
                                        </tr> 
                                        <tr>
                                            <td colspan="4"><p>{{ personIX.comment }}</p></td>
                                        </tr> 
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nazwa:</th>
                                            <th scope="col">Ilość:</th>
                                            <th scope="col">Miejsce:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categoriesCabinShd %}  
                                        <tr class="table-{{ category.status }}">
                                            <th scope="row"><input class="form-check-input m-0" type="checkbox" name="checkbox[]" value="{{ category.id }}"  id="{{ category.id }}"></th>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.name }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.quantity }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.space }}</label></td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                                <div>    
                                    <input type="hidden" name="idMod" value="{{ personIX.id }}">                      
                                    <textarea class="form-control mb-3" id="exampleFormControlTextarea5" rows="3" placeholder="Dodaj komentarz (nie wymagany)" name="comment"></textarea>
                                    <button class="btn btn-primary" name="usermod" value="{{ user.rank }} {{ user.surname }}" type="submit">Przyjęte</button>
                                </div>           
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    {% if categoriesLeftShd %} 
                    <button class="btn btn-warning collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample10" role="button" aria-expanded="false" aria-controls="multiCollapseExample10" width="22" height="22"> Skrytki Lewe </button>
                    <div class="col w-100 m-auto">
                        <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample10">
                            <form method="post" action="/shd/leftshd">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4"><h5>{{ nameSHD }}</h5></th>
                                        </tr>    
                                        <tr>
                                            <td colspan="4"><p>Ostatnio przejmował: {{ personX.user }} {{ personX.date }}</p></td>
                                        </tr> 
                                        <tr>
                                            <td colspan="4"><p>{{ personX.comment }}</p></td>
                                        </tr> 
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nazwa:</th>
                                            <th scope="col">Ilość:</th>
                                            <th scope="col">Miejsce:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categoriesLeftShd %}  
                                        <tr class="table-{{ category.status }}">
                                            <th scope="row"><input class="form-check-input m-0" type="checkbox" name="checkbox[]" value="{{ category.id }}"  id="{{ category.id }}"></th>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.name }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.quantity }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.space }}</label></td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                                <div>    
                                    <input type="hidden" name="idMod" value="{{ personX.id }}">                      
                                    <textarea class="form-control mb-3" id="exampleFormControlTextarea5" rows="3" placeholder="Dodaj komentarz (nie wymagany)" name="comment"></textarea>
                                    <button class="btn btn-primary" name="usermod" value="{{ user.rank }} {{ user.surname }}" type="submit">Przyjęte</button>
                                </div>           
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    {% if categoriesRightShd %} 
                    <button class="btn btn-warning collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample11" role="button" aria-expanded="false" aria-controls="multiCollapseExample11" width="22" height="22"> Skrytki Prawe </button>
                    <div class="col w-100 m-auto">
                        <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample11">
                            <form method="post" action="/shd/rightshd">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4"><h5>{{ nameSHD }}</h5></th>
                                        </tr>    
                                        <tr>
                                            <td colspan="4"><p>Ostatnio przejmował: {{ personXI.user }} {{ personXI.date }}</p></td>
                                        </tr> 
                                        <tr>
                                            <td colspan="4"><p>{{ personXI.comment }}</p></td>
                                        </tr> 
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nazwa:</th>
                                            <th scope="col">Ilość:</th>
                                            <th scope="col">Miejsce:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categoriesRightShd %}  
                                        <tr class="table-{{ category.status }}">
                                            <th scope="row"><input class="form-check-input m-0" type="checkbox" name="checkbox[]" value="{{ category.id }}"  id="{{ category.id }}"></th>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.name }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.quantity }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.space }}</label></td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                                <div>    
                                    <input type="hidden" name="idMod" value="{{ personXI.id }}">                      
                                    <textarea class="form-control mb-3" id="exampleFormControlTextarea5" rows="3" placeholder="Dodaj komentarz (nie wymagany)" name="comment"></textarea>
                                    <button class="btn btn-primary" name="usermod" value="{{ user.rank }} {{ user.surname }}" type="submit">Przyjęte</button>
                                </div>           
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    {% if categoriesCabinSrw %} 
                    <button class="btn btn-warning collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample12" role="button" aria-expanded="false" aria-controls="multiCollapseExample12" width="22" height="22"> Kabina </button>
                    <div class="col w-100 m-auto">
                        <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample12">
                            <form method="post" action="/srw/cabinsrw">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4"><h5>{{ nameSRW }}</h5></th>
                                        </tr>    
                                        <tr>
                                            <td colspan="4"><p>Ostatnio przejmował: {{ personXII.user }} {{ personXII.date }}</p></td>
                                        </tr> 
                                        <tr>
                                            <td colspan="4"><p>{{ personXII.comment }}</p></td>
                                        </tr> 
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nazwa:</th>
                                            <th scope="col">Ilość:</th>
                                            <th scope="col">Miejsce:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categoriesCabinSrw %}  
                                        <tr class="table-{{ category.status }}">
                                            <th scope="row"><input class="form-check-input m-0" type="checkbox" name="checkbox[]" value="{{ category.id }}"  id="{{ category.id }}"></th>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.name }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.quantity }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.space }}</label></td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                                <div>    
                                    <input type="hidden" name="idMod" value="{{ personXII.id }}">                      
                                    <textarea class="form-control mb-3" id="exampleFormControlTextarea6" rows="3" placeholder="Dodaj komentarz (nie wymagany)" name="comment"></textarea>
                                    <button class="btn btn-primary" name="usermod" value="{{ user.rank }} {{ user.surname }}" type="submit">Przyjęte</button>
                                </div>           
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    {% if categoriesLeftSrw %} 
                    <button class="btn btn-warning collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample13" role="button" aria-expanded="false" aria-controls="multiCollapseExample13" width="22" height="22"> Skrytki Lewe </button>
                    <div class="col w-100 m-auto">
                        <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample13">
                            <form method="post" action="/srw/leftsrw">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4"><h5>{{ nameSRW }}</h5></th>
                                        </tr>    
                                        <tr>
                                            <td colspan="4"><p>Ostatnio przejmował: {{ personXIII.user }} {{ personXIII.date }}</p></td>
                                        </tr> 
                                        <tr>
                                            <td colspan="4"><p>{{ personXIII.comment }}</p></td>
                                        </tr> 
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nazwa:</th>
                                            <th scope="col">Ilość:</th>
                                            <th scope="col">Miejsce:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categoriesLeftSrw %}  
                                        <tr class="table-{{ category.status }}">
                                            <th scope="row"><input class="form-check-input m-0" type="checkbox" name="checkbox[]" value="{{ category.id }}"  id="{{ category.id }}"></th>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.name }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.quantity }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.space }}</label></td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                                <div>    
                                    <input type="hidden" name="idMod" value="{{ personXIII.id }}">                      
                                    <textarea class="form-control mb-3" id="exampleFormControlTextarea6" rows="3" placeholder="Dodaj komentarz (nie wymagany)" name="comment"></textarea>
                                    <button class="btn btn-primary" name="usermod" value="{{ user.rank }} {{ user.surname }}" type="submit">Przyjęte</button>
                                </div>           
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    {% if categoriesRightSrw %} 
                    <button class="btn btn-warning collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample14" role="button" aria-expanded="false" aria-controls="multiCollapseExample14" width="22" height="22"> Skrytki Prawe </button>
                    <div class="col w-100 m-auto">
                        <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample14">
                            <form method="post" action="/srw/rightsrw">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4"><h5>{{ nameSRW }}</h5></th>
                                        </tr>    
                                        <tr>
                                            <td colspan="4"><p>Ostatnio przejmował: {{ personXIV.user }} {{ personXIV.date }}</p></td>
                                        </tr> 
                                        <tr>
                                            <td colspan="4"><p>{{ personXIV.comment }}</p></td>
                                        </tr> 
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nazwa:</th>
                                            <th scope="col">Ilość:</th>
                                            <th scope="col">Miejsce:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categoriesRightSrw %}  
                                        <tr class="table-{{ category.status }}">
                                            <th scope="row"><input class="form-check-input m-0" type="checkbox" name="checkbox[]" value="{{ category.id }}"  id="{{ category.id }}"></th>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.name }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.quantity }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.space }}</label></td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                                <div>    
                                    <input type="hidden" name="idMod" value="{{ personXIV.id }}">                      
                                    <textarea class="form-control mb-3" id="exampleFormControlTextarea7" rows="3" placeholder="Dodaj komentarz (nie wymagany)" name="comment"></textarea>
                                    <button class="btn btn-primary" name="usermod" value="{{ user.rank }} {{ user.surname }}" type="submit">Przyjęte</button>
                                </div>           
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    {% if categoriesRoofSrw %} 
                    <button class="btn btn-warning collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample15" role="button" aria-expanded="false" aria-controls="multiCollapseExample15" width="22" height="22"> Dach </button>
                    <div class="col w-100 m-auto">
                        <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample15">
                            <form method="post" action="/srw/roofsrw">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4"><h5>{{ nameSRW }}</h5></th>
                                        </tr>    
                                        <tr>
                                            <td colspan="4"><p>Ostatnio przejmował: {{ personXV.user }} {{ personXV.date }}</p></td>
                                        </tr> 
                                        <tr>
                                            <td colspan="4"><p>{{ personXV.comment }}</p></td>
                                        </tr> 
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nazwa:</th>
                                            <th scope="col">Ilość:</th>
                                            <th scope="col">Miejsce:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categoriesRoofSrw %}  
                                        <tr class="table-{{ category.status }}">
                                            <th scope="row"><input class="form-check-input m-0" type="checkbox" name="checkbox[]" value="{{ category.id }}"  id="{{ category.id }}"></th>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.name }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.quantity }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.space }}</label></td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                                <div>    
                                    <input type="hidden" name="idMod" value="{{ personXV.id }}">                      
                                    <textarea class="form-control mb-3" id="exampleFormControlTextarea7" rows="3" placeholder="Dodaj komentarz (nie wymagany)" name="comment"></textarea>
                                    <button class="btn btn-primary" name="usermod" value="{{ user.rank }} {{ user.surname }}" type="submit">Przyjęte</button>
                                </div>           
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    {% if categoriesSlrr %} 
                    <button class="btn btn-warning collapsed bt-sm m-3 w-75" data-bs-toggle="collapse" href="#multiCollapseExample16" role="button" aria-expanded="false" aria-controls="multiCollapseExample16" width="22" height="22"> SLRr Hilux </button>
                    <div class="col w-100 m-auto">
                        <div class="multi-collapse collapse w-100 m-auto" id="multiCollapseExample16">
                            <form method="post" action="/slrr/slrrset">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="4"><h5>{{ nameSlrr }}</h5></th>
                                        </tr>    
                                        <tr>
                                            <td colspan="4"><p>Ostatnio przejmował: {{ personXVI.user }} {{ personXVI.date }}</p></td>
                                        </tr> 
                                        <tr>
                                            <td colspan="4"><p>{{ personXVI.comment }}</p></td>
                                        </tr> 
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nazwa:</th>
                                            <th scope="col">Ilość:</th>
                                            <th scope="col">Miejsce:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categoriesSlrr %}  
                                        <tr class="table-{{ category.status }}">
                                            <th scope="row"><input class="form-check-input m-0" type="checkbox" name="checkbox[]" value="{{ category.id }}"  id="{{ category.id }}"></th>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.name }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.quantity }}</label></td>
                                            <td><label class="form-check-label w-90" for="{{ category.id }}">{{ category.space }}</label></td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                                <div>    
                                    <input type="hidden" name="idMod" value="{{ personXVI.id }}">                      
                                    <textarea class="form-control mb-3" id="exampleFormControlTextarea8" rows="3" placeholder="Dodaj komentarz (nie wymagany)" name="comment"></textarea>
                                    <button class="btn btn-primary" name="usermod" value="{{ user.rank }} {{ user.surname }}" type="submit">Przyjęte</button>
                                </div>           
                            </form>
                        </div>
                    </div>
                    {% endif %}
                    
                </div>  
                           
            </div>
        </div>
    </div>

</article>
<script src="/js/status.js"></script>
{% endblock %}
